
<div class="homeScreen">
    <h1>The Home Screen</h1>
    <div class="button performButton" ng-click="startPerformance()">Start Performance Mode</div>


    <div class="button editButton" ng-click="editProgram()">Edit Program</div>
    <div class="button newButton" ng-click="createNewProgram()">New Program</div>


    <div class="button startButton" ng-click="runTheProgram()">Start The Program</div>
    <div class="button stopButton"  ng-click="stopTheProgram()">Stop The Program</div>


    <div class="button blackoutButton" ng-click="blackout()">Blackout Lights</div>

    <div class="programList">
        <div class="program" ng-class="{active: root.currentProgram.id == id}" ng-repeat="(id, program) in dmx.programList" ng-click="setAsCurrentProgram(program)" ng-dblclick="editProgram(program)">
            {{program.name}}
        </div>

    </div>

    <div class="button" ng-click="dmx.saveDefaults()">Save To Defaults</div>
    <div class="button" ng-click="dmx.restoreDefaults()">Restore Defaults</div>
    <div class="button" ng-click="showThreshold = !showThreshold; threshold = dmx.threshold">Toggle Show Threshold</div>
    <div ng-if="showThreshold">
        Threshold: <input type="number" min="0" max="1024" ng-model="threshold">
        <div class="button" ng-click="dmx.updateThreshold(threshold)">Update Threshold</div>
    </div>
    <div class="button defaultButton" ng-click="dmx.setAsDefaultProgram()">Set As Default Program</div>
</div>