<div class="programBuilder">
    <div class="button homeButton" ng-click="goHome()">Go Back Home</div>
    <div class="title">Edit a program</div>
    <br/>
    <div class="inputContainer">
        Name: <input type="text" ng-model="config.name">
    </div>
    <div class="inputContainer">
    Tempo: <input class="tempoRangeSelector" type="range" min="50" max="200" ng-model="config.tempo"> {{config.tempo}}
    </div>
    <br/>
    <div class="inputContainer">
        Beat Detection Enabled: <div class="checkboxContainer"><input type="checkbox" ng-model="config.beatDetectionEnabled"></div>
    </div>
    <div class="inputContainer">
        Length In Beats: <div class="button incrementer" ng-click="config.lengthInBeats = config.lengthInBeats - 1">-</div><input class="beatRangeSelector" type="range" min="1" max="32" ng-model="config.lengthInBeats"><div class="button incrementer" ng-click="config.lengthInBeats = config.lengthInBeats + 1">+</div>&nbsp;&nbsp;{{config.lengthInBeats}}
    </div>

    <div class="eventToolbar">
        <div class="newEventHolder">
          <div class="eventDropArea btn btn-droppable" ng-repeat="newEvent in newEvents"
               data-drop="true"
               ng-model="newEvents"
               jqyoui-droppable="{index: {{$index}}}">
              <div class="eventObj btn btn-info btn-draggable"
                   ng-show="newEvent.type"
                   data-drag="true"
                   data-jqyoui-options="{revert: 'invalid'}"
                   ng-model="newEvents"
                   jqyoui-draggable="{index: {{$index}},placeholder:'keep',animate:true}">
                  New {{newEvent.type}}
              </div>
          </div>
        </div>
        <div class="button" ng-click="addChannel()">Add Channel</div>
        <div ng-repeat="trashEvent in trash"
             class="trash btn btn-droppable"
             data-drop="true"
             ng-model="trash"
             jqyoui-droppable="{index: {{$index}}, onStop: clearTrash()}">
            Trash
            <div class="eventObj btn btn-info btn-draggable"
                      ng-show="trashEvent.type"
                      data-drag="true"
                      data-jqyoui-options="{revert: 'invalid'}"
                      ng-model="trash"
                      jqyoui-draggable="{index: {{$index}}}">
            </div>
        </div>
    </div>
    <div class="programContainer">
        <table class="programLayout">
            <tr class="light" ng-repeat-start="light in config.lights">
                <td class="channelSelector">
                    <a ng-click="removeChannel($index)">X</a> Channel: <select ng-model="light.channel" ng-options="n for n in [] | range:1:30"></select>
                    <div class="lightTypeSelector"><select ng-model="light.type" ng-options="type.value as type.name for type in lightTypes" ng-change="onChangeLightType(light)"></select></div>
                    <div class="lightTypeSelector" ng-if="light.type === 'disco'"><select ng-model="light.mode" ng-options="mode.value as mode.name for mode in discoModes"></select></div>
                    <div ng-if="light.type === 'disco'">Set Rotation Speed:</div>
                </td>
                <td class="beat" ng-repeat="event in light.eventLoop track by $index">
                    <div class="eventDropArea btn btn-droppable"
                         data-drop="true"
                         ng-model='light.eventLoop'
                         jqyoui-droppable="{index: {{$index}}}">
                        <div class="eventObj btn btn-info btn-draggable"
                             ng-click="onEventClick(event)"
                             ng-show="event.type"
                             data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}"
                             ng-model="light.eventLoop"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                        <span ng-switch="event.type">
                            <span ng-switch-when="fade">Fade to {{event.endValue}}</span>
                            <span ng-switch-when="set">Set to {{event.value}}</span>
                            <span ng-switch-when="strobe">Strobe</span>
                        </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="light" ng-if="light.type === 'disco' && light.mode === 'manual'">
                <td class="channelSelector">
                    Red Lights:
                </td>
                <td class="beat" ng-repeat="event in light.redLoop track by $index">
                    <div class="eventDropArea btn btn-droppable"
                         data-drop="true"
                         ng-model='light.redLoop'
                         jqyoui-droppable="{index: {{$index}}}">
                        <div class="eventObj btn btn-info btn-draggable"
                             ng-click="onEventClick(event)"
                             ng-show="event.type"
                             data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}"
                             ng-model="light.redLoop"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                        <span ng-switch="event.type">
                            <span ng-switch-when="fade">Fade to {{event.endValue}}</span>
                            <span ng-switch-when="set">Set to {{event.value}}</span>
                            <span ng-switch-when="strobe">Strobe</span>
                        </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="light" ng-if="light.type === 'disco' && light.mode === 'manual'">
                <td class="channelSelector">
                    Green Lights:
                </td>
                <td class="beat" ng-repeat="event in light.greenLoop track by $index">
                    <div class="eventDropArea btn btn-droppable"
                         data-drop="true"
                         ng-model='light.greenLoop'
                         jqyoui-droppable="{index: {{$index}}}">
                        <div class="eventObj btn btn-info btn-draggable"
                             ng-click="onEventClick(event)"
                             ng-show="event.type"
                             data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}"
                             ng-model="light.greenLoop"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                    <span ng-switch="event.type">
                        <span ng-switch-when="fade">Fade to {{event.endValue}}</span>
                        <span ng-switch-when="set">Set to {{event.value}}</span>
                        <span ng-switch-when="strobe">Strobe</span>
                    </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="light" ng-if="light.type === 'disco' && light.mode === 'manual'">
                <td class="channelSelector">
                    Blue Lights:
                </td>
                <td class="beat" ng-repeat="event in light.blueLoop track by $index">
                    <div class="eventDropArea btn btn-droppable"
                         data-drop="true"
                         ng-model='light.blueLoop'
                         jqyoui-droppable="{index: {{$index}}}">
                        <div class="eventObj btn btn-info btn-draggable"
                             ng-click="onEventClick(event)"
                             ng-show="event.type"
                             data-drag="true"
                             data-jqyoui-options="{revert: 'invalid'}"
                             ng-model="light.blueLoop"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                    <span ng-switch="event.type">
                        <span ng-switch-when="fade">Fade to {{event.endValue}}</span>
                        <span ng-switch-when="set">Set to {{event.value}}</span>
                        <span ng-switch-when="strobe">Strobe</span>
                    </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end></tr>

        </table>
    </div>
    <div ng-if="currentEvent" class="eventEditorBox">
        <div ng-switch="currentEvent.type">
            <ul ng-switch-when="fade">
                <li>Type: {{currentEvent.type}}</li>
                <li>Start Value: {{currentEvent.startValue}} <input type="range" min="0" max="255" ng-model="currentEvent.startValue"></li>
                <li>End Value: {{currentEvent.endValue}} <input type="range" min="0" max="255" ng-model="currentEvent.endValue"></li>
                <li>Duration In Beats: {{currentEvent.durationInBeats}} <input type="range" min="0" max="8" step="0.25" ng-model="currentEvent.durationInBeats"></li>
            </ul>
            <ul ng-switch-when="set">
                <li>Type: {{currentEvent.type}}</li>
                <li>Value: {{currentEvent.value}} <input type="range" min="0" max="255" ng-model="currentEvent.value"></li>
            </ul>
            <ul ng-switch-when="strobe">
                <li>Type: {{currentEvent.type}}</li>
                <li>Interval In Beats: {{currentEvent.intervalInBeats}} <input type="range" min="0" max="8" step="0.25" ng-model="currentEvent.intervalInBeats"></li>
                <li>Duration In Beats: {{currentEvent.durationInBeats}} <input type="range" min="0" max="8" step="1" ng-model="currentEvent.durationInBeats"></li>
            </ul>
        </div>

    </div>
    <div class="bottomButtonContainer">
        <div class="button right" ng-click="runProgram()">Run The Program</div>
        <div class="button right" ng-click="saveProgram()">Save Program</div>
        <div class="button left" ng-click="deleteProgram()">Delete Program</div>
        <div style="clear:both;"></div>
    </div>
</div>